/* @import './font-air.css'; */
/* @import './font-telegraf.css'; */

:root{
  --color-black: black;
  --color-white: white;
  --border-white-2: 2px solid var(--color-white);
  --border-black-2: 2px solid var(--color-black);
  --border-black-3: 3px solid var(--color-black);
  --border-black-4: 4px solid var(--color-black);
  --box-shadow-black: 2px 2px var(--color-black);
  --border-radius-1: 5px; 
}

*:hover, body{ 
  /* cursor: none;  */
}
body{
  color: black;
  /* font-family: 'Telegraf', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Air Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* width: 98.8vw; */
  height: 100vh;
  scroll-behavior: smooth;
}

.min-vh-100{min-height: 100vh;}
.min-vw-100{min-width: 100vw;}

/* html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
} */