// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  #boxBorderEnd{
    border-bottom: 2px solid black;
  }
  #sticker{
    &1{
      right: 2% !important;
      top: 44% !important;
      svg{
        height: 4rem !important;
      }
    }
    &2{
      bottom: 6% !important;
      left: 2% !important;
    } 
  }
  .main-tool-bar {
    font-size: 2.5rem !important;
    overflow-x: hidden !important;
    &--scrolled {
      font-size: 14px !important;
      & .tab{
        display: none !important;
        & li a{
          & i{
          }
        }
      }
      & .title{
        bottom: 50% !important;
        transform: translateY(50%);
        line-height: normal !important;
      }
    }
    & .title{
      bottom: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      &-logo{
        display: none;
        &--scrolled{
        }
      }
      &--scrolled{
        left: 5% !important;
      }
    }
    & .tab{
      display: none !important;
    }
    & .pc{
      &-bg{
        &-border{
          border-radius: 0 !important;
        }
        &-lamp{
          &-h{
            width: 120% !important;
            &-button{
              right: 50% !important;
              transform: translate(50%, -50%) !important;
              & i{
              }
            }
          }
          &-v{
            &-f{
            }
          }
        }
        &--scrolled{
          display: none;
        }
      }
      &-light{
        width: 200% !important;
        &--scrolled{
          display: none;
        }
      }
      &-screen{
        border: none !important;
        width: 100% !important;
        height: 83% !important;
        &--scrolled{
          display: none;
        }
      }
    }
  }
  .logo-svg{
    height: 4rem !important;
    left: 50% !important;
    bottom: 60% !important;
    transform: translate(-50%, -60%);
  }
  .welcome{
    &-desc{
      top: 60% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      font-size: 20px !important;
      width: 80% !important;
      text-align: center;
      &--scrolled{
      }
    }
  }
  .home{
    &-intro{
      height: 75vh !important;
      text-align: center;
      & div{
        font-size: 16px !important;
      }
    }
    &-keahlian-isi{
      top: 18vh !important;
      left: 50% !important;
      transform: translate(-50%, -25%) !important;
      & ul{
        padding-left: 0;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  #cycleDesktop{
    display: none;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  .siklus1-border{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #boxBorderEnd{
    border-right: 2px solid black;
  }
  #pad5{
    padding: 5rem;
  }
  #img2{
    height: 20rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #cycleMobile{
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #siklus1{
    border-radius: 25rem;
  }
  .siklus1-border{
    border: 2px solid black;
  }
}