// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  #boxBorderEnd{
    border-bottom: 2px solid black;
  }
  #sticker{
    &1{
      right: 2% !important;
      svg{
        height: 4rem !important;
      }
    }
    &2{
      left: 2% !important;
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #boxBorderEnd{
    border-right: 2px solid black;
  }
  #pad5{
    padding: 5rem;
  }
  #img2{
    height: 20rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}